/* features & pricing */
.pricing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	background: url(../images/pricing.jpg) 50% / cover no-repeat;
}

.pricing>div {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 768px;
	background-color: #fff;
	padding: 25px 2.5%;
	border-radius: 1.5em;
	box-shadow: 0 0 10px 0px;
}

.pricing p {
	margin: 10px 20px;
}

.pricing ul {
	list-style-type: circle;
	font-size: 1.25rem;
	margin: 10px 20px;
	padding-left: 25px;
}

.price {
	font-size: 2rem;
	color: #179a4f;
}

.minimenu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	position: sticky;
	top: 50px;
}

.minimenu>div {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 10px 0px;
}

.minimenu a {
	padding: 0.5em 1em;
	border: 1px solid #00672d;
	border-radius: 1.5em;
	color: #fff;
	background: #00672d;
	margin: 10px;
	transition: all .2s ease;
}

.minimenu a:hover {
	background: #fff;
	color: #00672d;
}

.feature {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	scroll-margin-top: 185px;
}

.feature>div {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 1024px;
}

.feature>div>div:first-child {
	display: flex;
	align-items: center;
}

.feature>div>div:last-child {
	margin: 20px 68px 0px 68px;
}

.feature h1 {
	color: #00672d;
}

.feature p {
	margin: 10px 0px;
}

.feature img {
	margin-right: 20px;
}

/* contact */
.contact {
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact>div {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
}

.info {
	display: flex;
	flex-direction: column;
	min-width: 288px;
	margin-top: 55px;
}

.info>div {
	display: flex;
	align-items: center;
	margin: 25px 0px;
}

.contact a,
.contact p {
	font-size: 1.5rem;
}

.contact img {
	width: 32px;
	height: 32px;
	margin-right: 15px;
}

#contact-form {
	width: 100%;
	max-width: 640px;
}

#contact-form h1 {
	text-align: center;
}

#contact-form>div:first-child {
	display: flex;
	justify-content: center;
}

#contact-form>div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact input,
.contact textarea,
.contact button,
.contact select {
	padding: 10px;
	font-size: 1.25rem;
	margin: 10px;
	width: calc(100% - 40px);
	border: 1px solid #222;
	border-radius: 5px;
}

.contact textarea {
	resize: none;
}

.contact select {
	width: calc(100% - 18px);
}

#btnContactUs {
	background-color: transparent;
	color: #222;
	width: inherit;
	padding: 0.5em 1em;
	transition: all 0.2s ease;
	border: 1px solid #00672d;
	border-radius: 1.5em;
}

#btnContactUs:hover {
	background-color: #00672d;
	color: #fff;
	cursor: pointer;
}

.events {
	display: flex;
	justify-content: center;
	padding: 50px 0px;
}

.events>div {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
}

.events>div>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events img {
	width: 250px;
	margin: 10px 0px;
}

.events h2 {
	font-size: 1.5rem;
	padding: 25px 0px;
}

.events p {
	margin: 10px 0px;
}

/* trial */
.jumbotron.freetrial {
	height: 85vh;
}

.jumbotron.freetrial>div {
	align-items: center;
}

.trial {
	flex-direction: column;
	width: 100%;
}

.trial input,
.trial select {
	padding: 8px 12px;
	margin: 10px 0px;
	width: 100%;
	max-width: 262px;
	border: 1px solid #222;
	border-radius: 5px;
}

.trial select {
	max-width: 288px;
}


.loading {
	width: 20px;
	height: 20px;
	animation: spin 1s infinite linear;
	padding: 0 2em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#form-error {
	color: #e53424;
}

.hide {
	display: none !important;
}
