<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- Google tag (gtag.js) -->
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag() { dataLayer.push(arguments); }
	  gtag('js', new Date());
  
	  gtag('config', 'G-B6E34PLD0Z');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Join Us</title>
	<!-- icons -->
	<link rel="icon" type="image/png" sizes="32x32" href="FarmerHelper/leaflogo.svg">
	<link rel="icon" type="image/png" sizes="16x16" href="/FarmerHelper/leaflogo.svg">
	<!-- css & js -->
	<link type="text/css" rel="stylesheet" href="/joinsrc/common.css">
	<link type="text/css" rel="stylesheet" href="/joinsrc/other.css">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
	<link href="/joinsrc/css2.css" rel="stylesheet">
	
</head>

<body ng-app="myApp" class="ng-scope">
	<header>
		<div><a href="FarmerHelper.html" style="display: flex"><img src="/FarmerHelper/blogo (1).png" alt="Logo"></a>
			<nav>
				<div id="topnav" class="topnav">
					<a href="FarmerHelper.html">Home</a><a href="fhfeatures.htm">Features</a><a href="fhContact.html">Contact</a>
				</div>
				<div class="icon nav"></div>
			</nav>
		</div>
	</header>
	<main>
		<div class="jumbotron freetrial">
			<div ng-controller="trialCtrl" class="ng-scope">
				<h1>Join Us!</h1>
				<div class="trial">
					<input type="text" name="firstname" placeholder="First Name" required="" ng-model="firstname" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
					<input type="text" name="lastname" placeholder="Last Name" required="" ng-model="name" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
					<input type="tel" name="mobno" placeholder="Phone Number" required="" ng-model="Number" class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required">
					<p class="hide" id="form-error">The form is not valid.</p>
				</div>
				<div>
					<a class="jumbobtn" id="freebtn">Join US</a>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<div>
				<img width="120px" height="60px" src="/FarmerHelper/blogo (1).png" alt="Logo"><br>
				<p>We SIMPLIFY YOUR FARMING JOURNEY.</p>
			</div>
			<div>
				<div>
					<p>PO Box 224</p>
					<p>Bhubaneswar, Odisha</p>
					<p>Phone: <a href="tel:5036827226">503-682-7226</a></p>
					<p>Toll Free: <a href="tel:8885752689">888-5-FHelper</a></p>
					<p>
						Email:
						<a href="mailto:info@FH.net">info@FH.net</a>
					</p>
				</div>
			</div>
		</div>
		<div>
			<div>
				<p><a href="#" style="color: #fff;">Terms</a></p>
			</div>
			<div style="justify-content: center;">
				<p>©2022 C-Ware Inc. All Rights Reserved.</p>
			</div>
			<div>
				<p><a href="#" style="color: #fff;">Privacy</a></p>
			</div>
		</div>
	</footer>


</body></html>