/* features & pricing */
.pricing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	background: url(../images/pricing.jpg) 50% / cover no-repeat;
}

.pricing>div {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 768px;
	background-color: #fff;
	padding: 25px 2.5%;
	border-radius: 1.5em;
	box-shadow: 0 0 10px 0px;
}

.pricing p {
	margin: 10px 20px;
}

.pricing ul {
	list-style-type: circle;
	font-size: 1.25rem;
	margin: 10px 20px;
	padding-left: 25px;
}

.price {
	font-size: 2rem;
	color: #179a4f;
}

.minimenu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	position: sticky;
	top: 50px;
}

.minimenu>div {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 10px 0px;
}

.minimenu a {
	padding: 0.5em 1em;
	border: 1px solid #00672d;
	border-radius: 1.5em;
	color: #fff;
	background: #00672d;
	margin: 10px;
	transition: all .2s ease;
}

.minimenu a:hover {
	background: #fff;
	color: #00672d;
}

.feature {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	scroll-margin-top: 185px;
}

.feature>div {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 1024px;
}

.feature>div>div:first-child {
	display: flex;
	align-items: center;
}

.feature>div>div:last-child {
	margin: 20px 68px 0px 68px;
}

.feature h1 {
	color: #00672d;
}

.feature p {
	margin: 10px 0px;
}

.feature img {
	margin-right: 20px;
}

/* contact */
.contact {
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact>div {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
}

.info {
	display: flex;
	flex-direction: column;
	min-width: 288px;
	margin-top: 55px;
}

.info>div {
	display: flex;
	align-items: center;
	margin: 25px 0px;
}

.contact a,
.contact p {
	font-size: 1.5rem;
}

.contact img {
	width: 32px;
	height: 32px;
	margin-right: 15px;
}

#contact-form {
	width: 100%;
	max-width: 640px;
}

#contact-form h1 {
	text-align: center;
}

#contact-form>div:first-child {
	display: flex;
	justify-content: center;
}

#contact-form>div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact input,
.contact textarea,
.contact button,
.contact select {
	padding: 10px;
	font-size: 1.25rem;
	margin: 10px;
	width: calc(100% - 40px);
	border: 1px solid #222;
	border-radius: 5px;
}

.contact textarea {
	resize: none;
}

.contact select {
	width: calc(100% - 18px);
}

#btnContactUs {
	background-color: transparent;
	color: #222;
	width: inherit;
	padding: 0.5em 1em;
	transition: all 0.2s ease;
	border: 1px solid #00672d;
	border-radius: 1.5em;
}

#btnContactUs:hover {
	background-color: #00672d;
	color: #fff;
	cursor: pointer;
}

.events {
	display: flex;
	justify-content: center;
	padding: 50px 0px;
}

.events>div {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
}

.events>div>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events img {
	width: 250px;
	margin: 10px 0px;
}

.events h2 {
	font-size: 1.5rem;
	padding: 25px 0px;
}

.events p {
	margin: 10px 0px;
}

/* faq & what's new */
#accordion {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 1024px;
	padding: 25px 0px;
}

.panel .p_body {
	height: 0%;
	overflow: hidden;
	transition: all ease .4s;
	padding: 0px 20px;
}

.panel.show .p_body {
	padding: 10px 20px;
}

.panel:NTH-OF-TYPE(odd) .panel_title {
	background-color: #ccc;
}

.panel:NTH-OF-TYPE(odd) {
	border-color: #ccc;
}

.panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 2px solid #eee;
	color: #222;
	margin: 5px 0px;
	border-radius: 5px;
	transition: all .4s ease;
}

.panel.show,
.panel:HOVER {
	border-color: #67e09c;
}

.panel.show .panel_title,
.panel:HOVER .panel_title {
	background-color: #67e09c;
}

.panel_title {
	padding: 10px 15px;
	background-color: #eee;
	font-size: 1.25rem;
	padding-right: 30px;
	position: relative;
	cursor: pointer;
	transition: all .4s ease;
}

.panel_title:after {
	content: url("../images/plus.png");
	position: absolute;
	width: 20px;
	height: 20px;
	right: 10px;
	top: calc(50% - 10px);
}

.panel.show .panel_title:after {
	content: url("../images/minus.png");
}

.p_body>div {
	display: flex;
	flex-direction: column;
	transition: opacity .4s ease;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.panel.show .p_body>div {
	opacity: 1;
	height: 100%;
}

.p_body>div>div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.p_body p {
	margin-bottom: 10px;
}

.p_body h2 {
	font-size: 1.25rem;
}

.p_body img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.p_body img.newimg {
	width: 100%;
	height: 100%;
	max-width: 350px;
	margin-right: 25px;
}

/* installation */
.installation {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 25px 0px;
}

.installation>div {
	padding: 25px 0px;
}

.installation>div>div {
	padding: 10px 0px;
}

.installation h2 {
	font-size: 1.5rem;
}

.installation ol,
.installation ul {
	margin-left: 50px;
	margin-top: 10px;
}

.installation ul {
	list-style-type: none;
}

.installation li {
	margin: 5px 0px;
}

.installation li>img {
	margin: 0px 5px;
	width: 24px;
}

#fast {
	scroll-margin-top: 100px;
}

.alert {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0px;
}

.alert>div {
	padding: 20px;
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	opacity: 1;
	transition: opacity 0.6s;
	width: 70%;
	margin: auto;
}

.alert.r {
	background-color: #fce3e3;
	border: 1px solid #facccc;
	color: #8a3b3b;
}

.closebtn {
	margin-left: 15px;
	color: #e9c8aa;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: #c7a688;
}

/* trial */
.jumbotron.freetrial {
	height: 85vh;
}

.jumbotron.freetrial>div {
	align-items: center;
}

.trial {
	flex-direction: column;
	width: 100%;
}

.trial input,
.trial select {
	padding: 8px 12px;
	margin: 10px 0px;
	width: 100%;
	max-width: 262px;
	border: 1px solid #222;
	border-radius: 5px;
}

.trial select {
	max-width: 288px;
}


.loading {
	width: 20px;
	height: 20px;
	animation: spin 1s infinite linear;
	padding: 0 2em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#form-error {
	color: #e53424;
}

.hide {
	display: none !important;
}

/* tutorials */
.tutorials {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 50px 0px;
}

.tutorials>div {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 90%;
}

.tutorials>div>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 25px;
}

.tutorials>div>div>div {
	display: flex;
	align-items: center;
}

.tutorials img {
	height: 264px;
	margin: 10px;
	border: 1px solid #222;
}

.tutorials p {
	margin: 10px 0px;
}

.read {
	padding: 10px;
}

.download {
	padding: 10px;
	margin: 10px 0px;
	background-color: #00672d;
	color: #fff;
	border-radius: 10px;
	transition: all .4s ease;
}

.download:hover {
	background-color: #179a4f;
	color: #fff;
}

.general {
	padding: 50px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.general>div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	max-width: 1024px;
}

.general p {
	margin: 10px 0px;
}

@media screen and (max-width: 1024px) {
	.minimenu {
		top: 30px;
	}

	.feature {
		scroll-margin-top: 220px;
	}
}

@media screen and (max-width: 768px) {
	.minimenu {
		display: none;
	}

	.feature {
		scroll-margin-top: 100px;
	}

	.feature>div>div:last-child {
		margin: 20px 0px 0px 68px;
	}

	.contact>div {
		flex-direction: column;
		align-items: center;
	}

	.contact input,
	.contact textarea,
	.contact button,
	.contact select {
		font-size: 1rem;
	}

	.info {
		margin-top: 0px;
	}
}

@media screen and (max-width: 425px) {
	.feature>div>div:last-child {
		margin: 20px 0px 0px 0px;
	}
}